################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TrainingDairyApi/.vs/TrainingDairyApi/v15
/TrainingDairyApi/DairyApi/obj/Debug/netcoreapp2.0
/TrainingDairyApi/DairyApi/obj
/TrainingDairyApi/Domain/obj
/TrainingDairyApi/DairyApi/Properties
/TrainingDairyApi/DairyApi/bin/Debug/netcoreapp2.0
/TrainingDairyApi/Domain/bin/Debug/netcoreapp2.0
